/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #content .content-section {
        width: 800px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 64px 0 112px;
        padding-left: 16px;
        padding-right: 16px;
    }

}


/* Mobile */
@media (max-width: 740px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .fc-list .col {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }



    #nav>li {
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #header {
        overflow: hidden;
    }

    #header .search {
        display: none;
    }

    #header .mobile-menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }

    #header .mobile-menu-btn:hover {
        background-color: #ccc;

    }

    #content .content-section {
        width: 100%;
        padding: 40px 0 80px;
    }

    #header .mobile-menu-btn:hover .menu-icon {
        color: #000;
    }

    #nav {
        display: block;
    }

    #slider {
        width: 100%;
    }

    #slider .text-content {
        bottom: 0px;
    }

    h2.text-heading {
        font-size: 16px;
    }

    #slider .text-decsripton {
        margin-top: 4px;
        font-size: 12px;
    }

    #content .about-text {
        font-size: 16px;
        padding: 0 25px
    }

    .fc-body {

        margin: 0 16px;
        margin-bottom: 16px;

    }

    #content .member-item {}

    #content .member-img {
        width: 60%;
    }

    .btn {
        padding: 15.5px 24px;
    }

    .modal-header {
        font-size: 24px;
    }

    .contact-content p {
        padding-left: 16px
    }

    form {
        margin: 14px 16px;
    }

    .modal.js-modal {
        margin: 0 -16px;
    }

    #footer {
        padding: 40px 20px;
    }


    #footer {
        padding: 40px 20px;
    }

    #footer .socials-list {
        font-size: 20px;
    }

}