* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth ;
    font-family: Helvetica, Arial, sans-serif;
}


/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;

}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row ::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.333333%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 10.5px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
  
    
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/* Main */
#main {}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}


#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover,
#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arow-down {
    font-size: 12px;
}

#header .search:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search {
    float: right;
    padding: 0 21px;

}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/46989.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    background-color: #fff;
    opacity: 0.6;
    /* left: 50% ;
 transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    
}

#silder .text-heading {
    font-weight: 500px;
    font-size: 24 px;

}

#slider .text-decsripton {
    font-size: 16px;
    margin-top: 25px;
    color: #000;
    font-weight: 600;
}

#content {
    height: 1000px;
    background-color: #fff;


}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .section-heading {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    letter-spacing: 2cap;
    
}

#content .section-sub-heading {
    text-align: center;
    font-size: 17px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list {
    /* overflow: hidden; */
    margin-top: 48px;
}

.text-center {
    text-align: center !important;
}

#content .member-name {
    font-size: 15px;
    font-weight: 600;

}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* schedule section */
.schedule-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
    margin-bottom: 30px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 10px 16px;

}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

.tickets-list .quantity {
    float: right;
    width: 35px;
    background-color: #000;
    color: #fff;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
    border-radius: 20% ;
}

/* FC  */
.fc-list {
    margin-top: 32px;

}

.fc-img {
    width: 100%;
    display: block;

}

.fc-img:hover {
    opacity: 0.6;
}

.fc-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 5%;
    
}

.fc-heading {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.fc-time {
    margin-top: 15px;
    color: #757575;
    text-align: center;
}

.fc-stadium {
    margin-top: 15px;
    line-height: 1.4;
    text-align: center;
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 3px;
}

.modal-close:hover {
    opacity: 1
}

.modal-close {
    position: absolute;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.7;
}

.modal-body {
    padding: 16px;
}

.modal-lable {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    font-weight: 500;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets:hover {
    opacity: 0.8;
    background-color: #FF6600;
}

#buy-tickets {
    background: #009688;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
}

.modal-footer {
    padding: 16px;
    text-align: right;

}

.modal-footer a {
    color: #2196f3;
}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Contact */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;

}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map Section */
.stadium-section img {
    width: 100%;
    margin-top: 100px;
}

#footer {

    padding: 80px 30px;
    text-align: center;
    

}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .socials-list a:hover {
    opacity: 0.4;
}
#footer .copyright {
    margin-top: 15px;
    color:rgba(0, 0, 0, 0.6) ;
} 
#footer .copyright a {
    text-decoration: none;
}